.nav-collapse.collapse {
    float: right;
}

.price-table ul.best-option li.header span {
	font-size: 10px;
	line-height: 12px;
	position: absolute;
	top: -120px;
	left: -30px;
	background: #36B7E6;
	color: #fff;
	padding: 30px 130px 5px 130px;
	-webkit-transform:rotate(315deg);
	-moz-transform:rotate(315deg);
	-ms-transform:rotate(315deg);
	-o-transform:rotate(315deg);
}

.price-table ul.best-option li.header span {
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#wall .item {
	width: 24.5%;
	margin: 0px;
	text-shadow: none;
}

#wall .item .picture .description p {
	display: none;
}

#fixed-menu .menu {
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
	background: rgba(255,255,255,.9);
}